---
import { Image } from 'astro:assets';
import Footer from '../components/footer.astro';
import Head from '../components/head.astro';
import '../styles/flexbox.css';
import '../styles/global.css';
import '../styles/about.css';
import '@fontsource/be-vietnam-pro';

import stamp from '../assets/site/stamp.png';
import hr from '../assets/site/hr.png';
import border from '../assets/site/border.png';
---
<html lang="en">
  <Head/>
  <body>
    <header><a href="/">
      <Image src={stamp} alt="yay"/>
    </a></header>
    <main>
      <h1>~/whoami</h1>
      <h2>find me at:</h2>
      <nav><ul id="linkbox" class="flexbox">
        <li><a href="https://github.com/snipchu">github</a></li>
        <li><a href="https://snipchu.itch.io">itch.io</a></li>
        <li><a href="https://snipchu.bsky.social">bluesky</a></li>
        <li><a href="https://bopimo.com/users/bunnyguy">bopimo!</a></li>
        <li><a href="mailto:mr.bunny262@slmails.com">e-mail</a></li>
      </ul></nav>
      <h2>qualifications</h2>
      <article id="infobox" class="grid4 flexbox">
        <aside>
          <h3>skills</h3>
          <ul>
            <li>Experience in (Micro)Python, Java, C, HTML/CSS/JS, GDscript</li>
            <li>Skilled with Linux, KiCad, Godot Engine, Packet Tracer, and ROS2 (Humble)</li>
            <li>Knowledge in Arduino and Raspberry Pi programming</li>
          </ul>
        </aside>
        <aside>
          <h3>certifications</h3>
          <ul>
            <li>OSHA 10-Hour Certification</li>
            <li>Technician Amataur Radio License - KJ5CYY</li>
          </ul>
        </aside>
        <aside>
          <h3>awards</h3>
          <ul>
            <li>Advanced to state round in Cyberpatriot 16</li>
            <li>Advanced to seminationals in Cyberpatriot 17</li>
          </ul>
        </aside>
        <aside>
          <h3>extracurriculars</h3>
          <ul>
            <li>Roboboat (<a href="https://mhsroboboat.com">MHSeals</a>): CS Department</li>
            <li>Cyberpatriot: Cisco Packet Tracer/Linux main</li>
            <li>Artist at Hack Club (I've made assets for <a href="https://apocalypse.hackclub.com/">Apocalypse</a> and <a href="https://highseas.hackclub.com/">High Seas</a>!)</li>
          </ul>
        </aside>
      </article>

      <h2>favorites list</h2>
      <article id="favorites" class="grid4 flexbox">
        <aside class="flexbox">
          <Image src={stamp} alt=""/>
          <div>
            <h3>Portal 2</h3>
            <p>blah blah blah filler text here</p>
          </div>
        </aside>
        <aside class="flexbox">
          <Image src={stamp} alt=""/>
          <div>
            <h3>Tamagotchi</h3>
            <p>blah blah blah filler text here</p>
          </div>
        </aside>
        <aside class="flexbox">
          <Image src={stamp} alt=""/>
          <div>
            <h3>title</h3>
            <p>blah blah blah filler text here</p>
          </div>
        </aside>
        <aside class="flexbox">
          <Image src={stamp} alt=""/>
          <div>
            <h3>title</h3>
            <p>blah blah blah filler text here</p>
          </div>
        </aside>
      </article>
    </main>
    <Footer/>
  </body>
</html>
