---
import { Image } from 'astro:assets';
import Footer from '../components/footer.astro';
import Head from '../components/head.astro';
import '../styles/flexbox.css';
import '../styles/global.css';
import '../styles/index.css';
import '@fontsource/roboto';

import img1 from '../assets/img1.jpg';
import img2 from '../assets/img2.jpg';
import img3 from '../assets/img3.jpg';
import qbg from '../assets/qbg.jpg';
import stamp from '../assets/stamp.png';
import hr from '../assets/hr.png';
import border from '../assets/border.png';
import buttonimg from '../assets/88x31_temp.png';
import whoami from '../assets/whoami.png';
---
<html lang="en">
  <Head/>
  <body>
    <header><a href="/">
      <Image src={stamp} alt="yay"/>
    </a></header>
    <main>
      <p>programmer, artist, and to-be computer engineer</p>
      <hr>
      <section id="linkbox" class="flexbox">
        <aside>
          <h2>stamps</h2>
          <nav><ul id="stamplist">
            <li><a href="./about"><Image src={whoami} alt="whoami"/></a></li>
            <li><a href="./projects"><Image src={buttonimg} alt="projects"/></a></li>
            <li><a href="./gallery"><Image src={buttonimg} alt="gallery"/></a></li>
            <li><a href="./tech"><Image src={buttonimg} alt="tech"/></a></li>
          </ul></nav>
        </aside>
        <article class="threeblocks">
          <h2><a href="">projects</a></h2>
          <a href=""><Image src={img1} alt="img1"/></a>
          <div class="flexbox">
            <a href=""><Image src={img2} alt="img2"/></a>
            <a href=""><Image src={img3} alt="img3"/></a>
          </div>
        </article>
        <article class="threeblocks">
          <h2><a href="">portfolio</a></h2>
          <div class="flexbox">
            <a href=""><Image src={img2} alt="img2"/></a>
            <a href=""><Image src={img3} alt="img3"/></a>
          </div>
          <a href=""><Image src={qbg} alt="img1"/></a>
        </article>
      </section>
    </main>
    <Footer/>
  </body>
</html>
