---
import { Image } from 'astro:assets';
import Footer from '../components/footer.astro';
import Head from '../components/head.astro';
import '../styles/flexbox.css';
import '../styles/global.css';
import '../styles/index.css';
import '@fontsource/roboto';

import img1 from '../assets/img1.jpg';
import img2 from '../assets/img2.jpg';
import img3 from '../assets/img3.jpg';
import qbg from '../assets/qbg.jpg';
import stamp from '../assets/stamp.png';
import hr from '../assets/hr.png';
import border from '../assets/border.png';
import buttonimg from '../assets/88x31_temp.png';
---
<html lang="en">
  <Head/>
  <body>
    <header>
      <Image src={stamp} alt="yay"/>
    </header>
    <main>
      <h1>title</h1>
      <section id="description">
        <p>text describing me</p>
        <p>some more text</p>
        <aside id="infobox" class="flexbox">
          <aside>
            <h2>title</h2>
            <p>blahblahblah</p>
          </aside>
          <aside>
            <h2>title</h2>
            <p>blahblahblah</p>
          </aside>
          <aside>
            <h2>title</h2>
            <p>blahblahblah</p>
          </aside>
          <aside>
            <h2>title</h2>
            <p>blahblahblah</p>
          </aside>
        </aside>
        </article>
      </section>
      <hr>
      <section id="linkbox" class="flexbox">
        <aside>
          <h2>stamps</h2>
          <nav><ul id="stamplist">
            <li><a href="https://github.com/snipchu"><Image src={buttonimg} alt=""/></a></li>
            <li><a href=""><Image src={buttonimg} alt=""/></a></li>
            <li><a href=""><Image src={buttonimg} alt=""/></a></li>
            <li><a href=""><Image src={buttonimg} alt=""/></a></li>
            <li><a href=""><Image src={buttonimg} alt=""/></a></li>
            <li><a href=""><Image src={buttonimg} alt=""/></a></li>
          </ul></nav>
        </aside>
        <article class="threeblocks">
          <h2><a href="">projects</a></h2>
          <a href=""><Image src={img1} alt="img1"/></a>
          <div class="flexbox">
            <a href=""><Image src={img2} alt="img2"/></a>
            <a href=""><Image src={img3} alt="img3"/></a>
          </div>
        </article>
        <article class="threeblocks">
          <h2><a href="">portfolio</a></h2>
          <div class="flexbox">
            <a href=""><Image src={img2} alt="img2"/></a>
            <a href=""><Image src={img3} alt="img3"/></a>
          </div>
          <a href=""><Image src={qbg} alt="img1"/></a>
        </article>
      </section>
      <hr>
      <Footer/>
    </main>
  </body>
</html>
